/* App.css */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #242424;
  color: #fff;
  width: 25%;
}

.content {
  margin: 8px 8px 8px 0;
  flex: 1;
  width: 65%;
}