/* Content.css */
.content {
    padding: 20px;
    width: 65%;
}

.content h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.playlist-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.playlist {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.playlist img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.playlist h4 {
    font-size: 18px;
    margin: 0;
}

.playlist p {
    font-size: 14px;
    color: #777;
}