/* Navbar.css */
.navbar {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
    cursor: pointer;
}

.navbar li:last-child {
    margin-right: 0;
}

.logo {
    width: 200px;
    padding-right: 40px;
}