/* Sidebar.css */
.sidebar {
    background-color: #282828;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: 700;
}

.list-items {
    padding: 12px;
    gap: 20px;
    display: flex;
    align-items: center;
}

.white-search-icon {
    fill: #b3b3b3;
}
