/* App.css */
body {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #282828;
  color: #fff;
  width: 15%;
  padding: 20px 0;
}

.content {
  padding: 20px;
  flex: 1;
  width: 65%;
}